#winsText{
    color:Green;
}

#lossesText{
    color:red;
}

#guessesText {
    color:orange;
}

#pastGuesses {
    color:purple;
}

.guesses {
    display: inline-block;
    margin-right: 5px;
    text-align:left;
}